[MASTER]
# Ignore the .git and __pycache__ directories.
ignore=.git,__pycache__

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
# C0111: missing-docstring
# C0103: invalid-name
# R0903: too-few-public-methods
# W0703: broad-except
# R0801: duplicate-code
# W0621: redefined-outer-name (standard in pytest)
# C0301: line-too-long
# W0611: unused-import
# W0212: protected-access
# C0303: trailing-whitespace
# W0311: bad-indentation
# W0613: unused-argument
# R0917: too-many-positional-arguments
# R0915: too-many-statements
# C0321: multiple-statements
# C0413: wrong-import-position
# C0200: consider-using-enumerate
# W0311: bad-indentation
# R0914: too-many-locals
disable=C0111,C0103,R0903,W0703,R0801,C0114,C0115,C0116,W0621,C0301,W0611,C0411,C0415,W0212,C0303,W0311,W0613,R0917,R0915,C0321,C0413,C0200,W0404,R0914

[REPORTS]
# Set the output format.
output-format=text

[TYPECHECK]
# List of module names for which member attributes should not be checked
ignored-modules=django.http,fastapi,pytest,solana,solders,fpdf

[BASIC]
# Good variable names which should always be accepted, separated by a comma.
good-names=i,j,k,ex,Run,_,h,f,v,at

[DESIGN]
# Maximum number of arguments for function / method.
max-args=7
